@import "../../../assets/scss/shared";

.slide-enter-active,
.slide-leave-active {
  //TODO add transion
}

.slide-enter,
.slide-leave-to {
  //TODO add transion
}

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, .5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.sidebar-panel {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 999;
  padding: 3rem 20px 2rem 20px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;

  ul {
    li {
      padding: 20px 0;
      font-size: 30px;
      //TODO add transion

      &:hover {
        //TODO add transion
      }

      a {
        width: 100%;
        display: block;
      }
    }
  }

  .close {
    width: 30px;
    height: 30px;
    position: relative;
    margin: auto;
    cursor: pointer;
    //TODO add transion

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 18px;
      height: 2px;
      background-color: $secondary-color;
      border-radius: 50px;
    }

    &::after {
      //TODO add transion
    }

    &::before {
      //TODO add transion
    }

    &:hover {
      //TODO add transion
    }
  }
}
